<!-- 
    Title: footer.ejs
    Author: Alex Haefner
    Date: 4-21-2021
    Description: Footer module, linked to the bottom of each page. Can be updated in this
    file and it will reflect on every page
-->
<hr>
    <footer class ="footer">
        <p>Alex Haefner™ 2021<br>
        Bellevue University</p>
    </footer>