
<!-- Including header script, a great way to decouple HTML content -->
<%- include('header.ejs'); -%>

<body>
    <%- include('navbar.ejs'); -%>


    <section class="container-fluid px-0">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div id="headingGroup" class="text-white text-center d-none d-lg-block mt-5">
                    <h1 class="">WELCOME<span>/</span>EMS</h1>
                    <h1 class="">WELCOME<span>/</span>EMS</h1>
                    <h1 class="">WELCOME<span>/</span>EMS</h1>
                    <h1 class="">WELCOME<span>/</span>EMS</h1>
                    <h1 class="">WELCOME<span>/</span>EMS</h1>
                    <h1 class="">WELCOME<span>/</span>EMS</h1>
                    <h1 class="">WELCOME<span>/</span>EMS</h1>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                <p class="lead">Welcome to my landing page. This website is built using Node.js. Along with 
                    using Node, page elements like footer, header, and navbar are split up
                    into different views.
                </p>
            </div>
        </div>
    </section>


    <%- include('footer.ejs'); -%>

</body>
