<!-- 
    Title: list.ejs
    Author: Alex Haefner
    Date: 4-21-2021
    Description: List page - tabular view of employee records
-->

<!-- Including header script, a great way to decouple HTML content -->
<%- include('header.ejs'); -%>

<body>
    <%- include('navbar.ejs'); -%>

<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>


  <%- include('footer.ejs'); -%>

</body>