<!-- 
    Title: list.ejs
    Author: Alex Haefner
    Date: 4-21-2021
    Description: List page - tabular view of employee records
-->

<!-- Including header script, a great way to decouple HTML content -->
<%- include('header.ejs'); -%>

<body>
    <%- include('navbar.ejs'); -%>

    <% if (employees.length) { %>
      <h2 style="text-align: center;">‐‐ Employee Listing ‐‐</h2><br />
      <a style="text-align: center;" href="/new">Add New</a>
      <table class="table table‐hover" style="text-align: center;">
          <thead class="thead‐dark">
          <tr>
              <th>Name</th>
          </tr>
          </thead>
          <tbody>
          <% employees.forEach(function (entry) { %>
          <tr>
              <td><%= entry.name %></td>
          </tr>
          </tbody>
          <% }) %>
      </table>
      <% } else { %>
      No entries! <a href="/new">Add one!</a>
      <% } %>


  <%- include('footer.ejs'); -%>

</body>