<!--
    Title: navbar.ejs
    Author: Alex Haefner
    Date: 5--2021
    Description: Navigation markup
-->
<nav class="navbar navbar-expand-sm">
    <a class="navbar-brand" href="/">EMS</a>
    <ul class="navbar-nav mx-auto" >
        <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="list">List</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="new">New</a>
        </li>
      
    </ul>
</nav>