<nav class="navbar navbar-expand-sm">
    <a class="navbar-brand" href="#">EMS</a>
    <ul class="navbar-nav mx-auto" >
        <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/">List</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/">New</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/">Views</a>
        </li>        
    </ul>
</nav>