<!-- 
    Title: new.ejs
    Author: Alex Haefner
    Date: 4-21-2021
    Description: New page - data entry page
-->

<!-- Including header script, a great way to decouple HTML content -->
<%- include('header.ejs'); -%>

<body>
    <%- include('navbar.ejs'); -%>












    <%- include('footer.ejs'); -%>

</body>