<!--
    Title: about.ejs
    Author: Alex Haefner
    Date: 4-4-2021
    Description: about page.
-->

<%- include('header'); -%>

<div role="main" class="container">

    <br/><br/>

    <h2>Welcome to the <%= message %>!</h2>

</div>

<%- include('footer'); -%>